@use "sass:map";
@import "_colors.scss";

.fr.buttons{
	display: flex;
	.fr.button{
		margin: 0 5px;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&.equal .fr.button{
		flex-grow: 100;
		flex-basis: 0;
	}	
}
.fr.button{
	padding: 10px 20px;
	background-color: #E5E7EB;
	color: #4B5563;
	border-radius: 200px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border: 0;
	font-size: inherit;
	font-family: inherit;
	text-decoration: none;
	min-width: 120px;
	font-weight: 700;
	// line-height: 14px;
	&:hover{
		background-color: #dadfe6
	}
	&.fluid{
		display: block;
	}
	i{
		margin-right: 10px;
	}
	&.icon{
		min-width: 0 !important;
		padding: 4px 5px 5px 5px;
		i{
			margin-right: 0 !important;
		}
	}
	&.loading{
		color: transparent !important;
		position: relative;
		user-select: none !important;

		&.big{
			&::before, &::after{
				height: 24px !important;
				width: 24px !important;
				margin: -12px 0 0 -12px !important;
				border-width: .2em !important;
			}
		}
	}
	&.checkmark{
		// background-color: #75BF08 !important;
		color: transparent !important;
		position: relative;
	}
	&.checkmark::before{
		content: "\f00c";
		font-family: Icons;
		font-style: normal;
		font-weight: 400;
		color: white;
		position: absolute;
		left: calc(50% - 8px);
		font-size: 16px;
	}
	&.tiny{
		padding: 5px 10px;
		font-size: 12px;
		min-width: 60px;

		&.loading::after, &.loading::before{
			width: 12px;
			height: 12px;
			margin: -6px 0 0 -6px;
		}

		&.compact{
			padding: 5px 20px;
			min-width: 20px;
			font-size: 14px;
			line-height: 14px;
			text-transform: none;
			&.icon{
				> i{
					margin-right: 0;
				}
				padding: 5px;
				width: 25px;
			}
		}
		&.icon{
			min-width: 30px !important;
		}
	}
	&.small{
		padding: 7px 10px;
		font-size: 14px;
		min-width: 90px;

		&.loading::after, &.loading::before{
			width: 18px;
			height: 18px;
			margin: -9px 0 0 -9px;
		}
	}
	&.big{
		font-size: 16px;
		padding: 12px 25px;
		min-width: 200px;
		&.loading::after, &.loading::before{
			width: 25px;
			height: 25px;
			margin: -12.5px 0 0 -12.5px;
			border-width: 3px;
		}
	}
	&.disabled,&.loading{
		cursor: default;
		opacity: 0.45 !important;
		background-image: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		pointer-events: none !important;
		user-select: none !important;
	}
}

.fr.groupper > .head, table.fr.table thead tr th{
	.fr.button{
		padding: 5px 10px;
		font-size: 12px;
		min-width: 80px;
		line-height: 14px !important;
		text-transform: none;

		&.loading::after, &.loading::before{
			width: 12px;
			height: 12px;
			margin: -6px 0 0 -6px;
		}

		&.icon{
			> i{
				margin-right: 0;
			}
			padding: 5px;
			width: 25px;
		}
	}
}


.ui.dropdown.button{
	line-height: 20px !important;
}

@each $name, $background, $color, $hover in $frontier-colors{
	.fr.#{$name}.button{
		color: $color;
		background-color: $background;
		&:hover{
			background-color: $hover;
		}
		&.checkmark::before{
			content: "\f00c";
			font-family: Icons;
			font-style: normal;
			font-weight: 400;
			color: $color !important;
			position: absolute;
			left: calc(50% - 8px);
			font-size: 16px;
		}
	}
}

.fr.basic.button:not(:hover){
	background-color: transparent !important;
	color: black !important;
}