@use "sass:map";
@import "_colors.scss";

$CHECKBOX_CONTAINER: 45px;
$CHECKBOX_HEIGHT: 20px;
$LABEL_MARGIN: 8px;
$CHECKBOX_PADDING: -1px;

.fr.checkbox{
	display: flex;
	align-items: center;
	// height: $CHECKBOX_HEIGHT;
	input{
		width: $CHECKBOX_CONTAINER;
		height: $CHECKBOX_HEIGHT;
		cursor: pointer;
		opacity: 0;
		margin: 0;
	}
	label{
		margin-left: $LABEL_MARGIN;
		position: relative;
		// height: $CHECKBOX_HEIGHT;
		line-height: $CHECKBOX_HEIGHT;
		cursor: pointer;

		&::before{
			position: absolute;
			left: -$CHECKBOX_CONTAINER - $LABEL_MARGIN;
			// margin: 0 5px;
			background-color: rgba(0,0,0,.1);
			z-index: 10;
			width: $CHECKBOX_CONTAINER;
			height: $CHECKBOX_HEIGHT;
			border-radius: $CHECKBOX_HEIGHT;
			transition: background .3s ease,left .3s ease;
			content: '';
		}
		&::after{
			z-index: 11;
			position: absolute;
			left: -$CHECKBOX_CONTAINER - $LABEL_MARGIN + $CHECKBOX_PADDING;
			top: $CHECKBOX_PADDING;
			height: $CHECKBOX_HEIGHT - $CHECKBOX_PADDING*2;
			width: $CHECKBOX_HEIGHT - $CHECKBOX_PADDING*2;
			background-color: white;
			box-shadow: 0 1px 2px 0 rgba(0,0,0,.08),inset 0 0 0 1px rgba(0,0,0,.08);
			content: '';
			border-radius: $CHECKBOX_HEIGHT;

			-webkit-transtition: left .1s ease-in-out;
			transition: left .1s ease-in-out;
		}

		&:hover{
			&::before{
				background-color: rgba(0,0,0,.15);
				transition: background .1s ease,left .1s ease;
			}
		}
	}

	&.checked label{
		&::after{
			left: -$CHECKBOX_HEIGHT - $LABEL_MARGIN + $CHECKBOX_PADDING !important;
		}
		&::before{
			background-color: #4d6adf;
		}
		&:hover{
			&::before{
				background-color: darken(#4d6adf, 10%);
			}
		}
	}
}

@each $name, $background, $color, $hover in $frontier-colors{
	.fr.#{$name}.checkbox.checked label{
		&::before{
			background-color: $background;
		}
		&:hover{
			&::before{
				background-color: $hover;
			}
		}
	}
}