.fr.dropdown{
	position: relative;
	> .contents,> .container{
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	> .contents{
		background-color: #fafafa;
		border: 1px solid #e0e0e0;
		transition: all 200ms;
		border-radius: 8px;

		> input, > .text{
			padding: 10px;
			background-color: transparent;
			border: 0;
			width: 100%;
			font-size: 14px;
			&:focus{
				background-color: transparent;
				box-shadow: none;
			}
		}
		> input{
			height: 40px;
		}
		> .text.placeholder{
			color: #b4b4b4;
		}
		> .icon{
			margin-right: 8px !important;
			font-size: 14px !important;
			line-height: 14px !important;
		}
	}
	> .menu{
		position: absolute;
		left: 0;
		min-width: 100%;
		text-align: left;
		border-radius: 8px;
		z-index: 1;

		background-color: #fcfcfc;
		border: 1px solid #e0e0e0;
		box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);

		&:not(.top){
			top: calc(100% + 5px);
		}
		&.top{
			bottom: calc(100% + 5px);
		}

		&:not(.active){
			display: none;
		}
		> .item{
			padding: 10px;
			border-bottom: 1px solid darken(#fcfcfc, 5%);
			cursor: pointer;
			display: flex;
			align-items: center;

			> i.icon{
				text-align: center;
				font-size: 14px;
				line-height: 14px;
				margin-right: 8px;
			}

			&.active{
				font-weight: bold;
			}

			&:first-child{
				border-top-right-radius: 12px;
				border-top-left-radius: 12px;
			}
			&:last-child{
				border-bottom-right-radius: 12px;
				border-bottom-left-radius: 12px;
				border-bottom: 0;
			}

			&:hover{
				background-color: darken(white, 4%);
			}
		}
	}
	&.search{
		> .contents > input{
			cursor: default;
		}
	}
}
