.fr.dropdown{
	position: relative;
	> .contents,> .container{
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	> .contents:not(.basic){
		background-color: #fafafa;
		border: 1px solid #e0e0e0;
		transition: all 200ms;
		border-radius: 8px;

		> input, > .text{
			padding: 10px;
			background-color: transparent;
			border: 0;
			width: 100%;
			font-size: 14px;
			&:focus{
				background-color: transparent;
				box-shadow: none;
			}
		}
		> .text{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow-x: hidden;
			max-width: calc(100% - 15px);
			&.placeholder{
				color: #b4b4b4;
			}
		}
		> input{
			height: 40px;
		}
		> .icon{
			margin-right: 8px !important;
			font-size: 14px !important;
			line-height: 14px !important;

			width: 20px;
			text-align: center;
			display: block;
		}

		i.value-icon{
			// background-color: red;
			width: 30px;
			margin-left: 5px;
			text-align: center;
			margin-right: -5px !important;
		}
		> .meta{
			color: gray;
			font-size: 12px;
			margin-right: 10px;
		}

		&.active{
			background-color: white;
			box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
			border: 1px solid rgba(0,0,0,0.1);
		}
	}
	> .menu{
		position: absolute;
		left: 0;
		min-width: 100%;
		white-space: nowrap;

		// max-width: 200%;
		// text-overflow: ellipsis;
		// overflow-x: hidden;
		
		text-align: left;
		border-radius: 8px;
		z-index: 1;

		background-color: #fcfcfc;
		border: 1px solid #e0e0e0;
		box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);

		&:not(.top){
			top: calc(100% + 5px);
		}
		&.top{
			bottom: calc(100% + 5px);
		}

		&:not(.active){
			display: none;
		}
		> .item{
			padding: 10px;
			border-bottom: 1px solid darken(#fcfcfc, 5%);
			cursor: pointer;
			display: flex;
			align-items: center;
			
			text-decoration: none;
			color: black;

			.text{
				flex-grow: 1;
			}
			
			.meta{
				font-size: 12px;
				color: gray;
			}

			> i.icon{
				text-align: center;
				font-size: 14px;
				line-height: 14px;
				margin-right: 8px;
			}

			&.active{
				font-weight: bold;
			}

			&:first-child{
				border-top-right-radius: 8px;
				border-top-left-radius: 8px;
			}
			&:last-child{
				border-bottom-right-radius: 8px;
				border-bottom-left-radius: 8px;
				border-bottom: 0;
			}

			&:hover{
				background-color: darken(white, 4%);
			}
		}
	}
	&.search{
		> .contents > input{
			cursor: default;
		}
	}
}
