/* ================================== */
/* FORMS */
/* ================================== */
input,textarea{
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #e0e0e0;
	transition: all 200ms;
	border-radius: 8px;
	&:hover{
		border: 1px solid #cacaca;
	}
	&::placeholder{
		color: #686868;
	}
	&:focus{
		background-color: white;
		box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.1);
		transition: all 200ms;
		outline: none;
	}
}

.fr.fieldlabel{
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	margin-left: 5px;
}

.fr.form,.fr.input,.fr.field,.fr.fields{
	input,textarea{
		font-size: 14px;
		display: block;
		width: 100%;
	}

	&.error,.field.error,.fields.error{
		input,textarea{
			background-color: #FEE2E2;
			border: 1px solid #FECACA;
		}
		input::placeholder,textarea::placeholder{
			color: #c74242;
		}
		label{
			color: #c96e6e;
		}
	}
	&.warning,.field.warning,.fields.warning{
		label{
			color: #a4912b
		}
		input::placeholder,textarea::placeholder{
			color: #534c17;	
		}
		input,textarea{
			background-color: #FFF9E2;
			border: 1px solid #E8DDA4;
		}
	}
	
	.field, .fields{
		margin-bottom: 10px;
		.field,> .fr.input{
			margin-bottom: 0;
		}
		&.centered{
			text-align: center;
			input{
				text-align: center;
			}
		}
		.fr.input{
			margin-bottom: 0;
		}
	}
	.field > label, > label{
		display: block;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 2px;
		margin-left: 5px;
	}
	.two.fields{
		display: flex;
		justify-content: space-between;
		.field, > .fr.input{
			width: calc(50% - 5px);
		}
		.field:first-child, > .fr.input:first-child{
			margin-right: 2px;
		}
		.field:last-child, > .fr.input:last-child{
			margin-left: 2px;
			margin-right: 0;
		}
	}
	.three.fields{
		display: flex;

		.field{
			margin-left: 2px;
			margin-right: 2px;
			width: 33%;
		}
		.field:first-child{
			margin-left: 0;
		}
		.field:last-child{
			margin-right: 0;
		}
	}

	.comment{
		display: block;
		font-size: 14px;
		margin-bottom: 5px;
		margin-left: 5px;
		margin-top: -5px;
		color: gray;
	}
}

.fr.fields{
	&.three,&.two{
		.field, > .fr.input{
			margin-left: 2px;
			margin-right: 2px;
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
	&.three{
		.field, > .fr.input{
			width: 33%;
		}
	}
	&.two{
		.field, > .fr.input{
			width: calc(50% - 5px);
		}
	}
	display: flex;
}

.fr.field{
	.fr.input{
		margin-bottom: 0;
	}
	.ui.dropdown{
		width: 100%;
	}
}
.fr.field,.fr.fields .field{
	margin-bottom: 10px;
}