/* ================================== */
/* GROUPPER */
/* ================================== */
.fr.groupper{
	background-color: white;
	padding: 20px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 12px;
	position: relative;
	
	> .actions{
		background-color: rgba(0,0,0,0.03);
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-bottom: -20px;
		margin-top: 20px;
		padding: 10px 20px;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
		text-align: right;

		.fr.button{
			line-height: 14px;
		}

		&:empty{
			display: none;
		}
	}
	> .head{
		margin: -21px -21px;
		margin-bottom: 20px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		background-color: #F9FAFB;
		
		> * {
			text-transform: uppercase;
			text-align: left;
			font-size: 18px;
			color: rgba(0, 0, 0, 0.8);
			font-weight: bold;
		}

		border: 1px solid #e5e7eb;
		padding: 0.75rem 1rem;
		display: flex;
		align-items: center;
		height: 45px;
		
		&.fitted,&.compact{
			margin-bottom: 0px;
		}
		&.centered{
			justify-content: center;
			text-align: center;
		}
		&.section{
			border-radius: 0;
			margin-top: 15px;

			&.small{
				font-size: 14px;
				height: 35px;
				text-transform: none;
			}
			&.top{
				margin-top: -21px;
			}
		}
		&.big{
			text-transform: none;
			padding: 30px 20px;
			font-size: 28px;
			font-weight: bold;
			// text-align: center;
		}
		&.small{
			font-size: 14px;
		}
		.left,.text{
			flex-grow: 100;
		}
		.fr.button{
			padding: 5px 20px;
			min-width: 20px;
			font-size: 14px;
			line-height: 14px;
			text-transform: none;
			&.loading::after, &.loading::before{
				width: 15px;
				height: 15px;
				margin: -7.5px 0 0 -7.5px;
			}
			&.icon{
				> i{
					margin-right: 0;
				}
				padding: 5px;
				width: 25px;
			}
		}
	}
	&.fitted{
		padding: 0;
		> .head{
			margin: -1px;
			&.section.top{
				margin-top: 0;
			}
		}
		> .content{
			padding: 0;
		}
		> .actions{
			margin: 0;
			width: 100%;
		}
		table.fr.table{
			margin: -1px;
			width: 100%;
		}
	}
	&.compact{
		padding: 10px;
		> .head{
			margin: -11px -11px 10px -11px;
			&.section:not(.top){
				margin-top: 10px;
			}
			&.section.top{
				margin-top: -10px;
			}
		}
		> .content{
			padding: 10px;
		}
	}
	&.scolling,&.scrollable,&.scroll{
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0;
		> .head{
			margin: -1px;
			margin-bottom: 0;
		}
		> .content{
			flex: 1;
			padding: 20px;
			padding-top: 10px;
			overflow: scroll;
			&.fitted{
				padding-top: 0;
			}
		}
	}
	&.loading{
		position: relative;
		cursor: default;
		pointer-events: none;
		user-select: none;
		transition: all 0s linear;

		&:before{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			border-radius: 0;
			overflow: hidden;
			margin: 0 !important;
			z-index: 100;
			border-radius: 10px;
		}
		&:after {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			margin: -2em 0 0 -2em;
			width: 4em;
			height: 4em;
			animation: rotation 0.6s infinite linear;
			border: 0.3em solid #767676;
			border-left-color: white;
			border-radius: 500rem;
			box-shadow: 0 0 0 1px transparent;
			visibility: visible;
			z-index: 101;
		}
		&.dimmed::before{
			background: rgba(255, 255, 255, 0.8);
		}
	}

	> .divider{
		width: 100%;
		height: 1px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		width: calc(100% + 40px);
		margin: 20px 0 20px -20px;
		&.dashed{
			border-top-style: dashed;
		}
		&.dotted{
			border-top-style: dotted;
		}
	}
}