/* ================================== */
/* INPUT */
/* ================================== */
.fr.input{
	position: relative;
	margin-bottom: 10px;

	&.fluid,&.full{
		width: 100%;
		display: block;
		position: relative;
		input,textarea{
			width: 100%;
		}
	}
	&.icon{
		> i.fas{
			padding: 5px 5px 5px 4px;
			font-size: 14px;
		}
		> i, > img{
			position: absolute;
			top: 13px;
			left: 15px;
			color: #404040;
			font-size: 13px;
		}
		> img{
			width: 20px;
			left: 10px;
			top: 11px;
			fill: #94d31b;
		}
		input,textarea{
			display: block;
			padding-left: 38px;
		}
	}
	&.loading{
		> i{
			display: none;
		}
		input,textarea{
			padding-left: 38px !important;
		}
		&::before, &::after{
			left: 23px;	
			z-index: 2;
			top: calc(100% - 22px);
			height: 18px;
			width: 18px;
		}
		&::before{
			border: .2em solid rgba(0,0,0,.30);
		}
	}
	&.action{
		display: flex;
		input,textarea{
			flex-grow: 100;
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.fr.button{
			display: inline;
			border-radius: 0;
			border-right: 1px solid #d6d6d6;
			&.icon{
				min-width: 12px;
				font-size: 16px;
				padding-left: 15px;
				padding-right: 15px;
				i.icon{
					line-height: 29px;
				// 	margin: 0;
				// 	margin-right: 4px;
				// 	margin-top: 2px;
				}
			}
			&:last-of-type{
				border-right: none;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}
	}
}
input.circular,textarea.circular{
	border-radius: 100px;
	padding: 10px 15px;
}
