.fr.toolbar{
	$BORDER_RADIUS: 8px;
	background-color: #F9FAFB;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: $BORDER_RADIUS;
	position: relative;
	display: flex;
	// overflow: hidden;

	&.stretch{
		justify-content: stretch;
		> .item{
			width: 100%;
		}
	}

	> .item{
		position: relative;
		user-select: none;
		padding: 10px 15px;
		min-width: 100px;
		text-align: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		text-decoration: none;
		color: black;

		&.icon{
			min-width: 50px;
		}

		&.disabled{
			color: lighten(black, 60%);
			cursor: default;
			pointer-events: none;
			background-color: transparent !important;
		}

		&.dropdown{
			padding: 0;
			> .container{
				padding: 10px 15px;
			}
			> .menu{
				text-decoration: none;
				color: black;
				.item{
					&.red{
						color: #cc1414;
					}
				}
			}
		}

		> i, .container > i{
			display: block;
			margin-right: 10px;
			font-size: 16px;
			line-height: 16px;
			&.fa-caret-down{
				margin-left: 10px;
				margin-right: 0;
			}
		}
		&:hover,&.active{
			background-color: darken(#F9FAFB, 3%);
		}
		&.fr.loading{
			&::before{
				top: 55%;	
			}
			&::after{
				top: 55%;	
			}
		}
	}

	&:not(.divided){
		> .item{
			border-radius: $BORDER_RADIUS;
		}
	}
	&.divided{
		> .item{
			border-right: 1px solid rgba(0,0,0,0.1);
			&:first-child{
				border-top-left-radius: $BORDER_RADIUS;
				border-bottom-left-radius: $BORDER_RADIUS;
			}
			&:last-child{
				border-right: 0;
				border-top-right-radius: $BORDER_RADIUS;
				border-bottom-right-radius: $BORDER_RADIUS;
			}
		}
	}
}